header {
    height: 500px;
    width: 100%;
    background-color: black;
    font: white;
    display: flex;
}
.header-logo {
    text-align: center;
    font-size: 20px;
    padding: 50px;
}
header li {
    padding: 30px;
}
